#about-page{
    padding: 0;
    width: 100%;
    display: flex;
    min-height: 100vh;
    background: #121212;
    position: relative;
    overflow: hidden;

}

.about-block{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 30px;
    row-gap: 30px;
    width: 500px;
    height: fit-content;
    position: absolute;
    right: 0;
    align-self: center;
    margin-right: 100px;
}

.about h1{
    color: rgba(255, 255, 255, 0.8);
}
.about{
    width: 500px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}

.resume{
    background-color: black;
    color: rgb(232, 232, 232);
    padding: 10px;
    padding-left: 10px;
    width: 150px;
    border-radius: 6px;
    border: none;
    text-align: center;
    transition: 0.4s;
    outline: none;
    margin-right: 20px;
}

.contact{
    background-color: rgb(232, 232, 232);
    color: black;
    padding: 10px;
    padding-left: 10px;
    width: 150px;
    border-radius: 6px;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.4s;

}

.resume:hover, .contact:hover{
    cursor: pointer;
    transform: scale(0.95);
}


@media only screen and (max-width:500px){


    #about-page{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
    }


    .about-block{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 15px;
        row-gap: 15px;
        width: 350px;
        height: fit-content;
        align-self: center;
        margin: 0 auto;
        position: relative;
    }

    .about{
        width: 350px;
        text-align: justify;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }
    

}