.About{
    color: #E8EEF3;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #0D1F23;
    

}






.home{
   
    background: radial-gradient(50% 50.00% at 50% 50.00%, #132E35 0%, #0D1F23 100%);
}