*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}



body{
    background: rgb(255, 255, 255);
   
    
}

#landingpage{
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100vh;
    background: #dde1e7;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 99;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.7);
   
}

.Navigation a{
    position: relative;
    font-size: 12px;
    color: rgb(45, 45, 45);
    text-decoration: none;
    font-weight: 400;
    margin-left: 40px;
    transition: 0.4s;

}

.Navigation a:hover{
    transform: scale(0.9);
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.pic{
    height: auto;
    width: 500px;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
    margin-right: 100px;
}

img{
    width: 100%;
}



.logo{
    color: rgb(45, 45, 45);
    font-size: 20px;
}


.linkedin,.github{
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
    
}

.linkedin:hover,.github:hover{
    opacity: 80%;
    transform: scale(0.8);
    text-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}


.linkicons{
    display: grid;
    grid-template-columns: 25px 25px 25px;
    color: black;
    column-gap: 12px;
    position: absolute;
    top: 490px;
    left: 260px;
    
    z-index: 98;
    height: 40px;
}

.title1{
    position:  absolute;
    left: 280px;
    top: 330px;
}

.title2{
    position: absolute;
    left: 260px;
    top: 370px;
}


.im{
    font-size: 30px;
    font-weight: 500;
    color:rgb(48, 47, 47);
    opacity: 60%;
}




.Abhijith{
    font-size: 80px;
    font-weight: 500;
    color:black;
   
}


.logoA{
    font-style: italic;
    background-color: linear-gradient(180deg, #BC9835 0%, #E8D974 41.67%, #DDC15D 100%);
}

.bottomtab{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 99;
    backdrop-filter: blur(20px);
    z-index: 9;
    background: rgba(65, 97, 109, 0.4); 
}


.toolbar{
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    width: 400px;
    height: 80px;
    position: absolute;
    bottom: 0;
    margin-left: 260px;
    margin-bottom: 150px;
    border-radius: 10px;
    justify-content: space-between;
}

.toolicon{
    width: 40px;
    height: 40px;
    align-content: center;
    text-align: center;
}


.toolicon img{
    height: 40px;
    width: auto; 
    transition: 0.5s; 
}

.toolicon img:hover{
    cursor: default;  
    transform: translateY(-5px);
    text-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.20);
}



@media only screen and (max-width:600px){

    #landing-page{
        width: 100%;
    }

    .pic{
        height: auto;
        width: 300px;
        mix-blend-mode: multiply;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 100px;
        margin-top: 200px;
        align-self: center;
        flex-direction: column-reverse;
        overflow: hidden;
        
    }
    
    img{
        width: 100%;
        right: 50%;
    }

    .title1{
        position:  relative;
        right: 50%;
    }
    
    .title2{
        position: relative;
        right: 50%;
    }


    .toolbar{
        position: absolute;
        right: 50%;

    }
    

}
    