*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',Arial;
}

body{
    background: radial-gradient(50% 50.00% at 50% 50.00%, #132E35 0%, #0D1F23 100%);
    padding-bottom: 400px;
}

.landingpage{
    display: flex;
   
    align-items: center;
    min-height: 100vh;
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 99;
    background: #0D1F23;
    backdrop-filter: blur(9px);
    
}

.Navigation a{
    position: relative;
    font-size: 14px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 300;
    margin-left: 40px;
    

}

.Navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 1.5px;
    background: aliceblue;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;

}

.Navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);

}

.logo{
    color: aliceblue;
}

.linkicons{
    display: grid;
    width: 30px;
    color: aliceblue;
    row-gap: 20px;
    position: fixed;
    top: -300;
    right: 0;
    margin-right: 15px;
    z-index: 100;
}


.instagram,.linkedin,.github{
    cursor: pointer;
    color: aliceblue;
    transition: 0.5s;
    
}

.instagram:hover,.linkedin:hover,.github:hover{
    color: rgb(84, 110, 121);
}


.title1{
    position:  absolute;
    left: 320px;
    top: 350px;
}

.im{
    font-size: 30px;
    font-weight: 500;
    color: aliceblue;
    opacity: 60%;
}


.title2{
    position: absolute;
    left: 250px;
    top: 390px;
}

.Abhijith{
    font-size: 80px;
    font-weight: 500;
    color: aliceblue;
   
}

.pic{
    position: fixed;
    right: 0;
    z-index: 0;
    mix-blend-mode: overlay;
}


.experiencetab{
    width: 1200px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-right: 30px;
}


.exp{
    color: #E8EEF3;
    font-family: 'Poppins', Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    margin-left: 50px;
}

.line{
    width: 2px;
    height: 125px;
    flex-shrink: 0;
    background: #5A636A;
    
    
}

.experience{
    display: flex;
    flex-direction: row;
}


