*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}



body{
    background: rgb(255, 255, 255);
    
}

#landingpage{
    display: flex;
   
    align-items: center;
    min-height: 100vh;
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 99;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
   
}

.Navigation a{
    position: relative;
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.4s;

}

.Navigation a:hover{
    transform: scale(0.9);

}





.logo{
    color: black;
    font-size: 30px;
}


.linkedin,.github{
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
    
}

.linkedin:hover,.github:hover{
    opacity: 80%;
    transform: scale(0.8);
    text-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
}


.linkicons{
    display: grid;
    grid-template-columns: 25px 25px 25px;
    color: black;
    column-gap: 12px;
    position: absolute;
    top: 490px;
    left: 260px;
    
    z-index: 98;
    height: 40px;
}

.title1{
    position:  absolute;
    left: 280px;
    top: 330px;
}

.title2{
    position: absolute;
    left: 260px;
    top: 370px;
}


.im{
    font-size: 30px;
    font-weight: 500;
    color:rgb(48, 47, 47);
    opacity: 60%;
}




.Abhijith{
    font-size: 80px;
    font-weight: 500;
    color:black;
   
}

.pic{
    position: fixed;
    right: 0;
    z-index: 0;
    
}


.experiencetab{
    width: 1200px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 1px;
    background: rgba(217, 217, 217, 0.1);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-right: 30px;
}


.exp{
    color: #E8EEF3;
    font-family: 'Poppins', Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
    margin-left: 50px;
}

.line{
    width: 2px;
    height: 125px;
    flex-shrink: 0;
    background: #5A636A;
    
    
}

.experience{
    display: flex;
    flex-direction: row;
}

.logoA{
    font-style: italic;
    background-color: linear-gradient(180deg, #BC9835 0%, #E8D974 41.67%, #DDC15D 100%);
}

.bottomtab{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 99;
    backdrop-filter: blur(20px);
    z-index: 9;
    background: rgba(65, 97, 109, 0.4); 
}


.about{
    width: 500px;
    text-align: justify;
    position: absolute;
    left: 700px;
    top: 1100px;
}

.resume{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 10px;
    width: 150px;
    border-radius: 6px;
    border-color: black;
    position: absolute;
    left: 700px;
    top: 1480px;
    text-align: center;
    transition: 0.4s;

}

.contact{
    background-color: white;
    color: black;
    padding: 10px;
    padding-left: 10px;
    width: 150px;
    border-radius: 6px;
    border-color: black;
    position: absolute;
    left: 860px;
    top: 1480px;
    text-align: center;
    transition: 0.4s;

}

.resume:hover, .contact:hover{
    cursor: pointer;
    transform: scale(0.95);
}